@import url('https://fonts.googleapis.com/css2?family=Afacad+Flux:wght@100..1000&display=swap');

body {
    font-family: 'Afacad Flux', sans-serif;
    background-color: rgb(255, 221, 221) !important;
    background-image: linear-gradient( 135grad,rgb(182, 205, 255), rgb(182, 154, 226)); 
}

.navbar {
    background-color: transparent !important; /* Define o fundo transparente */
}


.box{
    padding: 40px;
}

.row--{
    padding-left: 20%;
    padding-right: 20%;
}
